image: "rust:latest"

stages:
  - build
  - test

build:day-01:
  stage: build
  script:
    - cd day01
    - cargo build --release

run:day-01:
  stage: test
  script:
    - cd day01
    - cargo run --release

build:day-02:
  stage: build
  script:
    - cd day02
    - cargo build --release

run:day-02:
  stage: test
  script:
    - cd day02
    - cargo run --release

build:day-03:
  stage: build
  script:
    - cd day03
    - cargo build --release

run:day-03:
  stage: test
  script:
    - cd day03
    - cargo run --release

run:day-04:
  stage: test
  script:
    - cd day04
    - cargo run --release

build:day-04:
  stage: build
  script:
    - cd day04
    - cargo build --release

build:day-05:
  stage: build
  script:
    - cd day05
    - cargo build --release

run:day-05:
  stage: test
  script:
    - cd day05
    - cargo run --release

build:day-06:
  stage: build
  script:
    - cd day06
    - cargo build --release

run:day-06:
  stage: test
  script:
    - cd day06
    - cargo run --release

build:day-07:
  stage: build
  script:
    - cd day07
    - cargo build --release

run:day-07:
  stage: test
  script:
    - cd day07
    - cargo run --release
